{
  "singleQuote": true,
  "trailingComma": "es5",
  "arrowParens": "always",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "bracketSameLine": true,
  "semi": false,
  "plugins": ["prettier-plugin-sort-imports"],
  "sortingMethod": "alphabetical",
  "overrides": [
    {
      "files": ["*.htm", "*.html", "*.css", "*.less"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
